<%= error_messages_for 'arquivo_form' %>
<% form_tag({:controller => 'listdirectory', :action => 'create'}, :class => "arquivo", :method => :post, :multipart => false) do %>
  <div class="box">
    <p>
      <label for="arquivo_form_nome">
        <%= l(:label_nome_required) %>
        <span class="required">*</span>
      </label>
      <%= text_field 'arquivo_form', 'nome', :size => 60 %>
    </p>
    <p>
      <label for="arquivo_form_data">
        <%= l(:label_data_required) %>
        <span class="required">*</span>
      </label>
      <%= text_field 'arquivo_form', 'data' %>
    </p>

    <p>
      <label for="arquivo_form_issueId">
        <%= l(:label_issueId_required) %>
        <span class="required">*</span>
      </label>
      <%= text_field 'arquivo_form', 'issue_id' %>
    </p>
  </div>
  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), :back %>
<% end %>