<%= stylesheet_link_tag "jquery.dataTables.min.css", :plugin => 'listdirectory' %>
<%= javascript_include_tag "jquery-1.12.4.js", "jquery.dataTables.min.js", "jquery.blockUI.js", "anexosfontes.js", "tabela.js", :plugin => 'listdirectory' %>

<%= render "cabecalho" %>

<div id="telaanexo">
  <div id="opcoestela">
    <p>
      <%= form_tag(:action => "anexarfontes") do -%>
       <%= hidden_field_tag 'issue_id', params[:issue_id] %>
       <%= hidden_field_tag 'arquivosEnviar', "[]" %>
        <%= submit_tag "Anexar Selecionados", :id => "anexarbutton" %>
      <% end -%>
    </p>
  </div>
  <%=
    @arquivostable = @arquivosservidor
    render "tablefontes"
  %>
</div>