<%= stylesheet_link_tag "jquery.dataTables.min.css", :plugin => 'listdirectory' %>
<%= javascript_include_tag "jquery-1.12.4.js", "jquery.dataTables.min.js", "anexosfontes.js", "tabela.js", :plugin => 'listdirectory' %>

<h1>Progress</h1>
<h2>Tarefa
  #<%= link_to @issue.id, issue_path(id: @issue.id), :onclick => params[:action] == 'show' ? "$('#update').hide(); return false;" : '' %>
  - <%= @clienteprogress %></h2>

<div id="telaanexo">
  <div id="opcoestela">
    <p>
      <%= form_tag(:action => "anexarfontes") do -%>
       <%= hidden_field_tag 'issue_id', params[:issue_id] %>
       <%= hidden_field_tag 'arquivosEnviar', "[]" %>
       <!-- a href="#" onClick="anexarSelecionados(<%= @issue.id %>)" class="icon icon-add">Anexar selecionados</a -->
        <%= submit_tag "Anexar Selecionados", :id => "anexarbutton" %>
      <% end -%>
    </p>
  </div>
  <%=
    @arquivostable = @arquivosservidor
    render "tablefontes"
  %>
</div>