
<%= render "cabecalho" %>

<div id="telaerro">

  <% if @classeTelaError && @mensagemTelaErro %>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Texto</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>Classe: </td>
        <td><%= @classeTelaError %></td>
      </tr>
      <tr>
        <td>Mensagem:</td>
        <td><%= @mensagemTelaErro %></td>
      </tr>
      <tr>
        <td>Backtrace:</td>
        <td>
          <%= @backtraceTelaErro %>
        </td>
      </tr>
    </tbody>
    </table>
  <% end %>

  <% if @debugxmlenvio %>
    <h3>Envio</h3>
  <pre>
    <%= @debugxmlenvio %>
  </pre>
  <% end %>
  <% if @debugxmlretorno %>
    <h3>Retorno</h3>
    <pre>
      <%= @debugxmlretorno %>
    </pre>
  <% end %>
  <% if @xmlerro %>
    <h3>Erro</h3>
    <pre>
        <%= @xmlerro %>
      </pre>
  <% end %>
</div>