<%= stylesheet_link_tag "jquery.dataTables.min.css", :plugin => 'fntprogress' %>
<%= javascript_include_tag "jquery-1.12.4.js", "jquery.dataTables.min.js", "jquery.blockUI.js", "anexosfontes.js", "tabela.js", :plugin => 'fntprogress' %>

<% if not User.current.allowed_to?(:view_file_progress, nil, global: true) %>
  <p class="nodata"><%=l(:message_no_permissions)%></p>
<% else %>

<%= render "cabecalho" %>

<div id="telaview">
  <% if User.current.allowed_to?(:remove_file_progress, nil, global: true) %>
    <div id="opcoestela">
      <p>
        <%= form_tag(:action => "removerfontes") do -%>
          <%= hidden_field_tag 'issue_id', params[:issue_id] %>
          <%= hidden_field_tag 'arquivosRemover', "[]" %>
          <%= submit_tag "Remover Selecionados", :id => "arquivosRemoverButton" %>
        <% end -%>
      </p>
    </div>
  <% end %>
  <%=
    @arquivostable = @arquivobanco
    render "tablefontes"
  %>
</div>
<% end %>