
<%= javascript_include_tag  "telafiltroanexos.js", "jquery.blockUI.js", :plugin => 'fntprogress' %>
<% if not User.current.allowed_to?(:add_file_progress, nil, global: true) %>
  <p class="nodata"><%= l(:message_no_permissions) %></p>
<% else %>

<%= render "cabecalho" %>

<!--
Dir. Origem.....: /usr/pro/p/coagrisol/dif                                  ││
││Mascara.........: *.p,*.i,*.trg,*.w,*.get,*.up,df*.df,*.s,*.sel,*.cls       ││
││Usuario/Propriet:                                                           ││
││Periodo Data....: 19/04/2018 19/04/2018                                     ││
││Periodo Hora....: 00:00 24:00
-->

<div id="filtroanexos">
  <%=  form_tag(:action => "buscararquivos") do -%>
    <%= hidden_field_tag 'issue_id', params[:issue_id] %>
      <p>
        <%= label_tag(:marcarabuscar, "Mascara:") %>
        <%= text_field_tag(:marcarabuscar, '*.p,*.i,*.trg,*.w,*.get,*.up,df*.df,*.s,*.sel,*.cls',size: 60) %>
      </p>
    <p>
      <%= label_tag(:usuariobuscar, "Usuário:") %>
      <%= text_field_tag(:usuariobuscar, User.current.login) %>
    </p>
    <p>
      <%= label_tag(:datainicialbuscar, "Data inicial:") %>
      <%= date_field_tag(:datainicialbuscar, Date.current ) %>

      <%= label_tag(:datafinalbuscar, "Data final:") %>
      <%= date_field_tag(:datafinalbuscar, Date.current) %>
    </p>
    <p>
      <%= label_tag(:horainicialbuscar, "Hora inicial:") %>
      <%= time_field_tag(:horainicialbuscar) %>

      <%= label_tag(:horafinalbuscar, "Hora final:") %>
      <%= time_field_tag(:horafinalbuscar) %>

    </p>

    <%= submit_tag "Buscar fontes", :id => "buscarfontesbutton" %>
    <%= link_to "Voltar", :back %>
  <% end -%>
</div>
<% end %>