<p><%= t :dcdirectorylist_settings_hint %></p>
<div class="tabular settings">
	<p>
		<%= setting_label(:show_user_owner) %>
		<%= check_box_tag('settings[show_user_owner]', true, @settings['show_user_owner']) %>
	</p>
	<p>
		<%= setting_label(:show_date_created) %>
		<%= check_box_tag('settings[show_date_created]', true, @settings['show_date_created']) %>
	</p>
	<p>
		<%= setting_label(:show_path) %>
		<%= check_box_tag('settings[show_path]', true, @settings['show_path']) %>
	</p>
	<p>
		<%= setting_label(:orderby_recents) %>
		<%= check_box_tag('settings[orderby_recents]', true, @settings['orderby_recents']) %>
	</p>
</div>
